---
import Layout from '../components/layout.astro';
---

<Layout>
  <main>
    <!-- breadcrumb-area-start -->
    <!--  data-background="assets/img/breadcrumb/breadcrumb-bg.png" -->
    <div class="tp-breadcrumb__area p-relative fix tp-breadcrumb-height">
      <div class="tp-breadcrumb__shape-1 z-index-5">
        <img src="/assets/img/breadcrumb/breadcrumb-shape-1.png" alt="" />
      </div>
      <div class="tp-breadcrumb__shape-2 z-index-5">
        <img src="/assets/img/breadcrumb/breadcrumb-shape-2.png" alt="" />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="tp-breadcrumb__content z-index-5">
              <div class="tp-breadcrumb__list">
                <span><a href="/">Startseite</a></span>
                <span class="dvdr"
                  ><i class="fa-sharp fa-solid fa-slash-forward"></i></span
                >
                <span>Kontakt</span>
              </div>
              <h3 class="tp-breadcrumb__title">Kontakt</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- form-area-start -->
    <div class="tp-contact-form__area tp-contact-form__space">
      <div class="container">
        <div class="row">
          <div
            class="col-xl-5 col-lg-5 wow tpfadeLeft"
            data-wow-duration=".9s"
            data-wow-delay=".3s"
          >
            <div class="tp-contact-form__left-box">
              <span class="tp-contact-form__subtitle">Kontakt</span>
              <h4 class="tp-section-title pb-20">
                Kontaktieren Sie uns. Wir sind für Sie da!
              </h4>
              <p>
                Haben Sie Fragen oder Anliegen? Nutzen Sie gerne unser
                Kontaktformular, um uns eine Nachricht zu senden. Wir freuen
                uns, von Ihnen zu hören!
              </p>
              <!-- <div class="tp-contact-form__social-box">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
              </div> -->
            </div>
          </div>
          <div
            class="col-xl-7 col-lg-7 wow tpfadeRight"
            data-wow-duration=".9s"
            data-wow-delay=".7s"
          >
            <div class="tp-contact-form__form-box">
              <form action="#">
                <div class="row">
                  <div class="col-xl-6 mb-30">
                    <div class="tp-contact-form__input-box">
                      <input type="text" placeholder="Namen" />
                    </div>
                  </div>
                  <div class="col-xl-6 mb-30">
                    <div class="tp-contact-form__input-box">
                      <input type="email" placeholder="Email" />
                    </div>
                  </div>
                  <div class="col-xl-6 mb-30">
                    <div class="tp-contact-form__input-box">
                      <input type="text" placeholder="Phone" />
                    </div>
                  </div>
                  <div class="col-xl-6 mb-30">
                    <div class="tp-contact-form__input-box">
                      <input type="text" placeholder="Titel" />
                    </div>
                  </div>
                  <div class="col-xl-12 mb-30">
                    <div class="tp-contact-form__textarea-box">
                      <textarea placeholder="Ihre Nachricht"></textarea>
                    </div>
                  </div>
                </div>
              </form>
              <div class="tp-contact-form__button">
                <button class="tp-btn">Nachricht absenden</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- form-area-end -->

    <!-- contact-area-start -->
    <div class="tp-contact__area">
      <div class="container">
        <div class="tp-contact__bg">
          <div
            class="tp-contact__wrapper d-flex align-items-center justify-content-between"
          >
            <div class="tp-contact__item d-flex align-items-center">
              <div class="tp-contact__icon">
                <span><i class="flaticon-phone"></i></span>
              </div>
              <div class="tp-contact__text">
                <a href="tel:+491724328326">+49 (0) 1724328326</a>
              </div>
            </div>
            <div class="tp-contact__item d-flex align-items-center">
              <div class="tp-contact__icon">
                <span><i class="flaticon-email"></i></span>
              </div>
              <div class="tp-contact__text">
                <a href="mailto:info@getu-prospects.de"
                  >info@getu-prospects.de</a
                >
              </div>
            </div>
            <div class="tp-contact__item d-flex align-items-center">
              <div class="tp-contact__icon">
                <span><i class="flaticon-location"></i></span>
              </div>
              <div class="tp-contact__text">
                <a href="#">Avenue Charles De Gaulle 11<br />13469, Berlin</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- contact-area-end -->

    <!-- location-area-start -->
    <div class="tp-location__area">
      <div class="container-fluid g-0">
        <div class="row">
          <div class="col-xl-12">
            <div class="tp-location__info-box">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2423.2240870941673!2d13.317956676686073!3d52.60172027208272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a85482206998cb%3A0xd558e3c5090b8225!2sAvenue%20Charles%20de%20Gaulle%2011%2C%2013469%20Berlin!5e0!3m2!1sde!2sde!4v1704024825751!5m2!1sde!2sde"
                width="600"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- location-area-end -->
  </main>
</Layout>
