---
import Layout from '../components/layout.astro';
---

<Layout>
  <main>
    <!-- breadcrumb-area-start -->
    <!-- data-background="assets/img/breadcrumb/breadcrumb-bg.png" for div bg image when i need it-->
    <div class="tp-breadcrumb__area p-relative fix tp-breadcrumb-height">
      <div class="tp-breadcrumb__shape-1 z-index-5">
        <img src="/assets/img/breadcrumb/breadcrumb-shape-1.png" alt="" />
      </div>
      <div class="tp-breadcrumb__shape-2 z-index-5">
        <img src="/assets/img/breadcrumb/breadcrumb-shape-2.png" alt="" />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="tp-breadcrumb__content z-index-5">
              <div class="tp-breadcrumb__list">
                <span><a href="/">Startseite</a></span>
                <span class="dvdr"
                  ><i class="fa-sharp fa-solid fa-slash-forward"></i></span
                >
                <span>Über uns</span>
              </div>
              <h3 class="tp-breadcrumb__title">Youth with perspective</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- about-area-start -->
    <div class="tp-about__area tp-about__space">
      <div class="container">
        <div class="row align-items-xl-start align-items-center">
          <div
            class="col-xl-5 col-lg-5 wow tpfadeLeft"
            data-wow-duration=".9s"
            data-wow-delay=".3s"
          >
            <div class="tp-about-us__main-thumb p-relative">
              <img src="/assets/img/about/youth.jpg" alt="" />
              <div class="tp-about-us__thumb-sm">
               <img src="/assets/img/about/youth-2.jpg" alt="" />
              </div>
              <div class="tp-about-us__thumb-border"></div>
            </div>
          </div>
          <div
            class="col-xl-7 col-lg-7 wow tpfadeRight"
            data-wow-duration=".9s"
            data-wow-delay=".7s"
          >
            <div class="tp-about__right-side tp-about__right-box">
              <div class="tp-about__section-title pb-25">
                <span class="tp-section-subtitle-2">Youth with perspective</span>
                <h4 class="tp-section-title">
                  Unser Plan für die Jugendlichen
                </h4>
              </div>
              <div class="tp-about__content">
                <div class="tp-about__text">
                  <p>
                    Wenn der Sinn des Lebens nicht bekannt ist, ist Missbrauch
                    unvermeidlich. Unangebrachte(r) Perspektive und Sinn für das
                    Leben, führen zu Katastrophen. Deshalb ist das Forum "Youth
                    with perspective" für Mentoring ins Leben gerufen worden.
                  </p>
                  <p>
                    <i>Youth with perspective</i> ist ein Forum, in dem junge Menschen
                    zusammenkommen können, um antworten auf entscheidende Fragen
                    des Lebens zu finden:
                  </p>
                  <p>Wer bin ich?</p>
                  <p>Was ist der Sinn meines Lebens?</p>
                  <p>Wie kann ich den Sinn entdecken und erfüllen?</p>
                  <p>Was sind meine Potenziale und Ressourcen?</p>
                  <p>Welche Möglichkeiten stehen mir zu Verfügung?</p>
                  <p>Wie kann ich meine unmittelbare Umgebung beeinflussen?</p>
                  <p>
                    Das Leben lässt sich am besten in einer Gemeinschaft von
                    Menschen leben, die gleichgesinnte sind und den gleichen
                    Fokus haben. aus diesem Grund kommen wir als Jugendliche
                    zusammen, um gemeinsam mit einander und von einander zu
                    lernen, sich gegenseitig zu ermutigen und zu unterstützen,
                    um in jedem Bereich unseres Lebens unser Potential
                    auszuschöpfen und damit unsere Welt zu bereichern.
                  </p>
                  <p>
                    Du bist jeden 3. Samstag im Monat herzlich eingeladen und
                    lass uns gemeinsam den Sinn des Lebens herausfinden.
                  </p>
                </div>
                <!-- <div
                  class="tp-about__wraper pb-40 d-flex justify-content-between"
                >
                  <div class="tp-about__list-item d-flex align-items-start">
                    <div class="tp-about__list-icon">
                      <i class="far fa-check"></i>
                    </div>
                    <div class="tp-about__list-content">
                      <h4 class="tp-about__title-sm">Quick Fundraising</h4>
                      <p>
                        Charity Navigator's Giving you <br /> support multiple
                      </p>
                    </div>
                  </div>
                  <div class="tp-about__list-item d-flex align-items-start">
                    <div class="tp-about__list-icon">
                      <i class="far fa-check"></i>
                    </div>
                    <div class="tp-about__list-content">
                      <h4 class="tp-about__title-sm">Join Our Team</h4>
                      <p>
                        Charity Navigator's Giving you <br /> support multiple
                      </p>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="tp-about-progress">
                  <div class="tp-about-progress-item fix">
                    <h4>Donation</h4>
                    <span class="progress-count">82%</span>
                    <div class="progress">
                      <div
                        class="progress-bar wow slideInLeft"
                        data-wow-duration="1s"
                        data-wow-delay=".3s"
                        role="progressbar"
                        data-width="82%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 58%; visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: slideInLeft;"
                      >
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="tp-about__bottom d-flex">
                  <div class="tp-about__contact-us">
                    <!-- <span>Kontakt mit uns aufnehmen</span> -->
                    <div style="display:flex;">
                      <div
                        class="tp-footer__contact-item pb-20 d-flex about-items-center"
                      >
                        <div class="tp-footer__icon"
                        style="margin-top:-3px;"
                        >
                          <i class="flaticon-location"></i>
                        </div>
                        <div class="tp-about__contact-us">
                          <span>Rütlistraße 18 <br> 13407, Berlin</span>
                        </div>
                      </div>
                      <div
                      class="tp-footer__contact-item pb-20 d-flex about-items-center"
                    >
                      <div class="tp-footer__icon" style="margin-top:-3px;">
                        <i class="flaticon-time"></i>
                      </div>
                      <div class="tp-about__contact-usk">
                        <span>Jeden 3. Samstag im Monat,<br> 16:00 - 17:30</span>
                      </div>
                    </div>
                      <!-- <span style="display:flex; align-items:center;">
                        <i class="flaticon-location"></i>
                        <a style="margin-left:5px" href="tel:+491724328326"
                          >+49 (0) 1724328326</a
                        >
                      </span> -->
                      <!-- <span
                        style="margin-left:40px;display:flex; align-items:center;"
                      >
                        <i class="far fa-envelope"></i>
                        <a
                          style="margin-left:5px"
                          href="mailto:info@getu-prospects.de"
                          >info@getu-prospects.de</a
                        >
                      </span> -->
                    </div>
                  </div>
                  <!-- <div class="tp-about__author-box d-flex align-items-center">
                    <div class="tp-about__author-thumb pr-25">
                      <img src="assets/img/about/author-1.png" alt="" />
                    </div>
                    <div class="tp-about__author-info">
                      <h5 class="tp-about__author-name">Charlotte Ava</h5>
                      <span>Customer</span>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- about-area-end -->

    <!-- brand-area-start -->
    <!-- <div class="tp-brand-2__area">
      <div class="container">
        <div class="tp-brand-2__border">
          <div class="row">
            <div class="col-12">
              <div class="tp-brand-2__wrapper">
                <div class="swiper-container tp-brand-2__active">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="tp-brand-2__item text-center">
                        <img src="assets/img/brand/brand-2-1.png" alt="" />
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tp-brand-2__item text-center">
                        <img src="assets/img/brand/brand-2-2.png" alt="" />
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tp-brand-2__item text-center">
                        <img src="assets/img/brand/brand-2-3.png" alt="" />
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tp-brand-2__item text-center">
                        <img src="assets/img/brand/brand-2-4.png" alt="" />
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tp-brand-2__item text-center">
                        <img src="assets/img/brand/brand-2-2.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- brand-area-end -->

    <!-- cta-area-start -->
    <div class="tp-cta-2__area tp-cta-2__pt">
      <div class="tp-cta-2__bg p-relative fix">
        <div class="tp-cta-2__shape-1 d-none d-xl-block">
          <img src="/assets/img/cta/cta-shape-1-1.png" alt="" />
        </div>
        <div class="tp-cta-2__shape-2 d-none d-xl-block">
          <img src="/assets/img/cta/cta-shape-1-2.png" alt="" />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="tp-cta-2__content text-center">
                <h4 class="tp-cta-2__title">
                  Komm und entdecken mit uns den Sinn des Lebens.
                  <!-- Wir dienen unseren Mitmenschen<br />mit Nächstenliebe. -->
                </h4>
                <!-- <a href="donation-sidebar.html" class="tp-btn big"
                  >Start Donating Now</a
                > -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- cta-area-end -->

    <!-- testimonial-area-start -->
    <!-- <div class="tp-testimonial__area">
      <div
        class="tp-testimonial__bg"
        data-background="assets/img/testimonial/testi-bg-1.jpg"
      >
        <div class="container-fluid g-0">
          <div class="row g-0">
            <div class="col-xl-5 col-lg-6 col-md-6">
              <div class="tp-testimonial__left-side">
                <div class="tp-testimonial__section-title pb-20">
                  <span class="tp-section-subtitle">OUR TESTIMONIALS</span>
                  <h4 class="tp-section-title">
                    What Our Client <br />Tell About?
                  </h4>
                </div>
                <div class="tp-testimonial__left-text">
                  <p>
                    Charity is the act of exte kindneuncondit ionalwhich is <br
                    />
                     a conscious act but the decision is made by the heart, <br
                    />
                     without expecting act but the decisio
                  </p>
                </div>
                <a class="tp-btn" href="team-details.html">All Testimonials</a>
              </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-6">
              <div class="tp-testimonial__wrapper">
                <div class="swiper-container tp-testimonial__active">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="tp-testimonial__item-box">
                        <div class="tp-testimonial__item">
                          <div class="tp-testimonial__thumb">
                            <img
                              src="assets/img/testimonial/author-1-1.png"
                              alt=""
                            />
                          </div>
                          <div class="tp-testimonial__content p-relative">
                            <div class="tp-testimonial__text">
                              <div class="tp-testimonial__star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                              </div>
                              <p>
                                We can help with both your work and personal
                                life tasks, letting you focus on what’s most
                                important. simply are many variations of
                                passages of orem Ipsum
                              </p>
                            </div>
                            <div class="tp-testimonial__quote">
                              <span><i class="flaticon-double-quotes"></i></span
                              >
                            </div>
                          </div>
                        </div>
                        <div class="tp-testimonial__author-info">
                          <h4 class="tp-testimonial__author-name">
                            Paul Pitterson
                          </h4>
                          <span>Volunteers</span>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tp-testimonial__item-box">
                        <div class="tp-testimonial__item">
                          <div class="tp-testimonial__thumb">
                            <img
                              src="assets/img/testimonial/author-1-3.png"
                              alt=""
                            />
                          </div>
                          <div class="tp-testimonial__content p-relative">
                            <div class="tp-testimonial__text">
                              <div class="tp-testimonial__star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                              </div>
                              <p>
                                We can help with both your work and personal
                                life tasks, letting you focus on what’s most
                                important. simply are many variations of
                                passages of orem Ipsum
                              </p>
                            </div>
                            <div class="tp-testimonial__quote">
                              <span><i class="flaticon-double-quotes"></i></span
                              >
                            </div>
                          </div>
                        </div>
                        <div class="tp-testimonial__author-info">
                          <h4 class="tp-testimonial__author-name">
                            Lucas Oligan
                          </h4>
                          <span>Designer</span>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tp-testimonial__item-box">
                        <div class="tp-testimonial__item">
                          <div class="tp-testimonial__thumb">
                            <img
                              src="assets/img/testimonial/author-1-1.png"
                              alt=""
                            />
                          </div>
                          <div class="tp-testimonial__content p-relative">
                            <div class="tp-testimonial__text">
                              <div class="tp-testimonial__star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                              </div>
                              <p>
                                We can help with both your work and personal
                                life tasks, letting you focus on what’s most
                                important. simply are many variations of
                                passages of orem Ipsum
                              </p>
                            </div>
                            <div class="tp-testimonial__quote">
                              <span><i class="flaticon-double-quotes"></i></span
                              >
                            </div>
                          </div>
                        </div>
                        <div class="tp-testimonial__author-info">
                          <h4 class="tp-testimonial__author-name">
                            Devid Roko
                          </h4>
                          <span>Volunteers</span>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tp-testimonial__item-box">
                        <div class="tp-testimonial__item">
                          <div class="tp-testimonial__thumb">
                            <img
                              src="assets/img/testimonial/author-1-2.png"
                              alt=""
                            />
                          </div>
                          <div class="tp-testimonial__content p-relative">
                            <div class="tp-testimonial__text">
                              <div class="tp-testimonial__star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                              </div>
                              <p>
                                We can help with both your work and personal
                                life tasks, letting you focus on what’s most
                                important. simply are many variations of
                                passages of orem Ipsum
                              </p>
                            </div>
                            <div class="tp-testimonial__quote">
                              <span><i class="flaticon-double-quotes"></i></span
                              >
                            </div>
                          </div>
                        </div>
                        <div class="tp-testimonial__author-info">
                          <h4 class="tp-testimonial__author-name">
                            Gimmy Alia
                          </h4>
                          <span>Donor of charity</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- testimonial-area-end -->

    <!-- team-area-start -->
    <!-- <div class="tp-team-2__area pt-115 pb-65">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="tp-team-2__section-title pb-50 text-center">
              <span class="tp-section-subtitle-2">Unser TEAM</span>
              <h4 class="tp-section-title">
                Lernen Sie unser Führungsteam kennen
              </h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-xl-4 col-lg-4 col-md-6 mb-30 wow tpfadeUp"
            data-wow-duration=".9s"
            data-wow-delay=".3s"
          >
            <div class="tp-team-2__wrapper">
              <div class="tp-team-2__item text-center">
                <div class="tp-team-2__thumb">
                  <img src="/assets/img/team/team-1-1.jpg" alt="" />
                </div>
                <div class="tp-team-2__content">
                  <div class="tp-team-2__author-info">
                    <a href="team-details.html"
                      ><h4 class="tp-team-2__author-name">
                        Keith Warrington
                      </h4></a
                    >
                    <span>Beirat</span>
                  </div>
                  <div class="tp-team-2__social-box">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xl-4 col-lg-4 col-md-6 mb-30 wow tpfadeUp"
            data-wow-duration=".9s"
            data-wow-delay=".5s"
          >
            <div class="tp-team-2__wrapper">
              <div class="tp-team-2__item text-center">
                <div class="tp-team-2__thumb">
                  <img src="/assets/img/team/team-1-2.jpg" alt="" />
                </div>
                <div class="tp-team-2__content">
                  <div class="tp-team-2__author-info">
                    <a href="team-details.html"
                      ><h4 class="tp-team-2__author-name">Paul Adenmosun</h4></a
                    >
                    <span>Vorstand</span>
                  </div>
                   <div class="tp-team-2__social-box">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xl-4 col-lg-4 col-md-6 mb-30 wow tpfadeUp"
            data-wow-duration=".9s"
            data-wow-delay=".7s"
          >
            <div class="tp-team-2__wrapper">
              <div class="tp-team-2__item text-center">
                <div class="tp-team-2__thumb">
                  <img src="/assets/img/team/team-1-3.jpg" alt="" />
                </div>
                <div class="tp-team-2__content">
                  <div class="tp-team-2__author-info">
                    <a href="team-details.html"
                      ><h4 class="tp-team-2__author-name">
                        Grace Adenmosun
                      </h4></a
                    >
                    <span>Vorstand</span>
                  </div>
                   <div class="tp-team-2__social-box">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- team-area-end -->

    <!-- cta-area-start -->
    <div class="tp-cta__area">
      <div
        class="tp-cta__bg wow tpfadeUp"
        data-wow-duration=".9s"
        data-wow-delay=".3s"
        data-background="/assets/img/cta/cta-bg-3.jpg"
      >
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-7 col-lg-7 col-md-7">
              <div class="tp-cta__content d-flex align-items-center">
                <div class="tp-cta__icon d-none d-sm-block">
                  <span><i class="flaticon-volunteer"></i></span>
                </div>
                <h4 class="tp-cta__title-sm">
                  Engagieren Sie sich als Freiwilliger für eine gemeinsame,
                  strahlende Zukunft!
                </h4>
              </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5">
              <div class="tp-cta__button text-md-end text-start">
                <a class="tp-btn" href="/contact">Jetzt beitreten</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
